header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: navy;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.start-btn{
    border-style: solid;
    border-width: 2px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 300px;

}


.time{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    align-items: right;
    padding: 0;
    margin-left: 300px;

}

.Q-container {
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    background-color: palegoldenrod;
    align-items: center;
    text-align: left;
    margin-left: 300px;
    display: none;
    color: navy;
    border-style: solid;
    border-width: 1px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#initials {
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    background-color: palegoldenrod;
    align-items: center;
    text-align: left;
    margin-left: 300px;
    display: none;
    color: navy;
    border-style: solid;
    border-width: 1px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#highScores {
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    display: none;
    background-color: palegoldenrod;
    align-items: center;
    text-align: left;
    margin-left: 300px;
    color: navy;
    border-style: solid;
    border-width: 1px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


